.main{
    height: 85vh;
    width: 100%;
    display: flex;
    background: linear-gradient(360deg, #091631 31%, #020204 99%);
    flex-direction: column;
    align-items: center;
}
.crud{
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
}