<app-header />
<main class="main">
  <div class="gallery">
    <div class="gallery-card" *ngFor="let character of characters">
      <h4 class="gallery-card-h4">{{ character.nickname }}</h4>
      <img
        class="gallery-card-img"
        src="{{ character.image }}"
        alt=" {{ character.name }}"
      />
      <a class="gallery-card-a" routerLink="{{ character.id }}">Ver más</a>
    </div>
  </div>
  <div class="formulary">
    <form class="formulary-add" [formGroup]="characterForm" (ngSubmit)="characterAdd()">
      <div class="formulary-add-element">
        <input
          type="text"
          placeholder="name"
          formControlName="name"
        />
      </div>
      <div class="formulary-add-element">
        <input
          type="text"
          placeholder="nickname"
          formControlName="nickname"
        />
      </div>
      <div class="formulary-add-element">
        <input
          type="text"
          placeholder="image"
          formControlName="image"
        />
      </div>
      <div class="formulary-add-element">
        <button>Añadir</button>
      </div>
    </form>
  </div>
</main>
<app-footer />
