<div class="home-header">
  

  <div class="home-header-logo">
    <p class="home-header-logo-title">FILM STALKER</p>
  </div>
  
  <div class="home-header-navbar">

<div class="home-header-navbar">
  <a class="home-header-navbar-a" routerLink="/">HOME</a>
  <a class="home-header-navbar-a" routerLink="/movies">PELICULAS</a>
  <a class="home-header-navbar-a" routerLink="/actors">ACTORES</a>
  <a *ngIf="!api.getToken()" class="home-header-navbar-a" routerLink="/login"> INCIAR SESION </a>

  <button *ngIf="api.getToken()" (click)="logout()"> CERRAR SESION </button>

</div>
