.home-header{
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: rgb(28, 28, 28);
  text-decoration: none;
  color: whitesmoke;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &-logo{
    &-title{
      background-color: rgb(28, 28, 28);
      font-size: 65px;  
    }
  }

  &-navbar {
    background-color: rgb(28, 28, 28);;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    &-a{
      color: whitesmoke;
      background-color: rgb(28, 28, 28);
      font-size: 25px;
    }

    button{
      &:hover{
        background-color: #F5B540;
        transition-duration: 500ms;
      }
      font-size: 25px;
      padding: 5px 20px;
      background-color: whitesmoke;
      color: black;
      border: 1px;
      border-radius: 50px;
    }

    &-a:hover{
      color: #F5B540;
    }


  }
}

  
