<form class="form" [formGroup]="registerForm" (ngSubmit)="registrar()">
    <h1 class="form-title">Register</h1>
    <div class="form-inputs">
        <div class="form-inputs-section">
            <input type="email" placeholder="Email" formControlName="email" />
            <p *ngIf="(submited && registerForm?.get('email')?.hasError('required'))">El campo es requerido</p>
            <p *ngIf="(submited && registerForm?.get('email')?.hasError('pattern'))">No tiene formato valido</p>
        </div>
        <div class="form-inputs-section">
            <input type="password" placeholder="Password" formControlName="password" />
            <p *ngIf="(submited && registerForm?.get('password')?.hasError('required'))">El campo es requerido</p>
            <p *ngIf="(submited && registerForm?.get('password')?.hasError('pattern'))">No tiene formato valido</p>
        </div>
    </div>
    
    <p *ngIf="errorMessage !== ' ' ">{{errorMessage}}</p>    
    
    <button class="form-btn" type="submit" [disabled]="!registerForm.valid"> REGISTRARSE </button>

</form>