@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Varela+Round&display=swap');

@font-face {
    font-family: Retro;
    src: url(RetroCool-Regular.ttf);
}

*{
    margin: 0px;
    font-family: Retro;
    background-color: #F5B540;
    text-decoration: none;
}
