<app-header />
<main class="main">
  <div class="gallery">
    <div class="gallery-card" *ngFor="let movie of movies" (click)="selectMovie(movie)">
      <img class="gallery-card-img" src="{{ movie.image }}" alt=" {{ movie.title }}" />
      <h4 class="gallery-card-h4">{{ movie.title }}</h4>
    </div>
  </div>
  <div class="formulary">
    <h1 class="formulary-title">¿Quieres añadir una película?</h1>
    <form class="formulary-add" [formGroup]="moviesForm" (ngSubmit)="addMovie()">
      <div class="formulary-inputs">
        <input class="formulary-inputs-item" type="text" placeholder="title" formControlName="title" />
        <input class="formulary-inputs-item" type="text" placeholder="image" formControlName="image" />
      </div>
      <div class="formulary-btns">
        <button class="formulary-btns-item" type="submit" [disabled]="!moviesForm.valid">
          Añadir
        </button>
      </div>
    </form>
  </div>
</main>

<!-- <app-footer /> -->