.main {
  height: 85vh;
  display: flex;
  background-color: #F5B540;
  justify-content: center;
  margin: 0px 64px;
}

.gallery {
  margin: 12vh 0px;
  background-color: #F5B540;
  width: 50%vw;
  columns: 4 280px;
  align-items: center;
  text-align: center;
  gap: 20px;

  &-card {
    background-color: #F5B540;
    width: 280px;
    position: relative;
    // border: 1px solid black;
    overflow: hidden;
    margin-bottom: 10px;
  

    &-h4 {
      display: none;
      font-family: 'Roboto Condensed', sans-serif;
      text-align: center;
      height: 50px;
      width: 100%;
      box-sizing: border-box;
      background-color: rgba(0, 0, 0, 0.679);
      color: rgb(255, 255, 255);
      font-size: 20px;
      padding: 10px 0px;
      text-align: center;
      position: absolute;
      top: 0%;
    }
    &-img {
      width: 100%;
      object-fit:inherit; 
    }
  }

  &-card:hover {
    // transform: scale(1.1);
    h4{
      display: block;
    }
  }
}


.formulary {
  position: fixed;
  right: 128px;
  margin: 12vh 0px;
  border: 1px;
  padding: 30px;
  width: 10%;
  height: 30%;
  background-color: whitesmoke;
  border-radius: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  &-section{
  &-title{
    background-color: whitesmoke;
  }

  &-inputs{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 5px;

    &-item {
      background-color: rgb(255, 189, 109);
      font-size: 20px;
      border: 1px;
      border-radius: 5px;
      padding: 5px 5px;
      margin-bottom: 10px;  
    }
  }
  }

  &-btns{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    gap: 5px;

    &-item{
      background-color: rgb(28, 28, 28);
      color: whitesmoke;
      border: 1px;
      border-radius: 30px;
      width: 180px;
      font-size: 20px;
      padding: 10px 0px;
      margin-bottom: 10px;
    }
  }
}
