<app-header />

<main class="main">
  <div class="card">
    <img class="card-img" src="{{ actor.image }}" alt=" {{ actor.name }}" />
    <p class="card-name">{{actor.name}}</p>
    <p class="card-p">{{actor.country}}</p>
    <p class="card-p">{{actor.biografy}}</p>
    <p *ngIf="!api.getToken()"> <a routerLink="/login"> Login </a> para modificar los datos  </p>
  </div>

  <div class="formulary" *ngIf="api.getToken()">
    
    <form class="formulary-add" [formGroup]="actorForm">
      <div class="formulary-add-element">
        <label name="name" >Nombre:</label>
        <input type="text" name="name" id="name" formControlName="name" />
      </div>
      <div class="formulary-add-element">
        <label name="image" >Url Imagen:</label>
        <input type="text" name="image" id="imgae" formControlName="image" />
      </div>
      <div class="formulary-add-element">
        <label name="country" >Pais:</label>
        <input type="text" name="country" id="country" formControlName="country" />
      </div>
      <div class="formulary-add-element">
        <p name="biografy" >Biografia:</p>
        <textarea name="biografy" id="biografy" formControlName="biografy" rows="10" cols="50"></textarea>
      </div>
    </form>
    <div class="formulary-add-btns">
      <button (click)="update()">Actualizar</button>
      <button (click)="drop()">Borrar</button>
    </div>
  </div>
</main>



<!-- <p *ngif="!authService.getToken()"> Para editar los datos del actor es necesario estar registarado. </p> -->

